

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-sm-around ">
    <a asp-action="Index" asp-controller="Verb" div class="card my-card">
        <img src="https://i.gifer.com/Iqws.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Таблица неправильных глаголов</h5>
            @*<a asp-action="MainTable" asp-controller="Verb" class="btn btn-primary">Table</a>*@
        </div>
    </a>

    <a asp-action="Index" asp-controller="Word" div class="card my-card">
        <img src="https://i.gifer.com/7n1w.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Словарик</h5>
            <p class="card-text">Записывайте слова, которые хотите запомнить!</p>
        </div>
    </a>

    <a asp-action="Index" asp-controller="Tests" div class="card my-card">
        <img src="https://i.gifer.com/1xFe.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Упражнения</h5>
            <p class="card-text">Здесь будут тесты, когда я их сделаю</p>
        </div>
    </a>
