@model EnglishTrainer.ApplicationCore.Models.RegisterDto

<form asp-action="Register">
    <div class="register-block">
        <div style="margin:auto; width:200px;">
            <h1>Регистрация</h1>
        </div>
        <div class="form-group">
            <input asp-for="UserName" class="english-trainer-common-input" placeholder="Имя пользователя" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" class="english-trainer-common-input" placeholder="Пароль" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="PasswordConfirm" class="english-trainer-common-input" placeholder="Подтвердите пароль" />
            @*<span asp-validation-for="PasswordConfirm" class="text-danger"></span>*@
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Email" class="english-trainer-common-input" placeholder="Email" html autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="register-buttons-block">
            @*<a asp-action="Index" asp-controller="Verb" class="register-buttons-block_button_cancel">Отмена</a>*@
            @*                <button asp-action="RegisterUser" asp-controller="User" asp-route-model="@Model" class="register-buttons-block_button_submit">Зарегистрироваться</button>*@        
         @*   <button type="submit" id="createWord" class="btn btn-primary" style="width: 150px;">Create</button>*@

            <a asp-action="Index" asp-controller="Verb" class="register-buttons-block_button_cancel">Отмена</a>
            <button type="submit" class="register-buttons-block_button_submit">Зарегистрироваться</button>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#createWord').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RegisterUser", "User")',
                data: $('#createNewWordForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                },
            })
        });
    </script>

}