@using EnglishTrainer.ApplicationCore.Entities;
@model EnglishTrainer.ApplicationCore.Models.WordViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Новое слово</h1>

<form id = "createNewWordForm" style="min-height:1200px;">
    <div class="form-group">
        <label class="form-label">Слово</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label class="form-label">Варианты перевода</label>
        <input asp-for="TranslateVariants" class="form-control" />
    </div>
    
    <div class="form-floating" style="margin-bottom:20px; margin-top: 10px;">
        <textarea class="form-control" asp-for="Description" placeholder="Определение" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Определение (необязательно)</label>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Примеры
            </button>
        </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                     <div id="exampleBlock">
                        <div class="exampleItem">
                            <h4>Пример №1</h4>
                            <div>
                                <label>Английский вариант</label>
                                <div>
                                    <input class="form-control" type="text" name="Examples[0].EnglishExample" />
                                </div>
                                <label>Русский перевод</label>
                                <div>
                                    <input class="form-control" type="text" name="Examples[0].RussianExample" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><a class="addLink">Добавить новый пример</a></p>
                    <p><a class="removeLink">Убрать пример</a></p>
                </div>
            </div>
            @*<partial name="Example/_PartsCreateNewExample" model="@Model" />*@
        </div>
    </div>

   
    <a type="button" class="btn btn-info" style="border-radius:0" asp-action="MainTable" asp-controller="Word">Назад к словарю</a>
    <button id="createWord" style="border-radius:0" class="btn btn-primary">Добавить</button>
</form>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(function () {
            var i = 0;
            $('.addLink').click(function () {
                i++;
                var html2Add = "<div class='exampleItem'>" +
                    "<h4>Пример № " + (i) + "</h4>" +
                    "<div><label>Английский вариант</label><div>" +
                    "<input class='form-control'  type='text' name='Examples[" + i + "].EnglishExample' />" +
                    "</div><label>Русский перевод</label><div>" +
                    "<input class='form-control'  type='text' name='Examples[" + i + "].RussianExample' />" +
                    "</div></div></div>";
                $('#exampleBlock').append(html2Add);
            })
        });
    </script>

    <script>
        $('#createWord').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Word")',
                data: $('#createNewWordForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                },
            })
        });
    </script>


}
