.body{
    min-width:820px;
}

.trainer-header {
    background: url(https://static.live.bbc.co.uk/bbcle/0.2.66/img/theme/header-bg.png) no-repeat 50% 0;
    height: 147px;
    margin: 0px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    background-size: cover;
}

.trainer-header-container {
    width:100%;
    margin: auto;
    text-align: center;
    width: 900px;
}

.trainer-header-text {
    text-align: left;
    margin-left: 20px;
    color: black;
}

.main-content{
    display:flex;
}

.left-menu {
    background-color: aqua;
    height: 520px;
    width: 300px;
    
}

.back-to-main-page-button{
    margin-bottom:10px;
}

.td:hover{
    background-color: aqua;
}

a {
    display: block;
}

.tr:hover{
    background-color:aqua;
}
.td:hover{
    color:blueviolet;
}

.a:hover{
    background-color: aqua;
}