@model EnglishTrainer.ApplicationCore.Models.ExampleViewModel

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EnglishExample" class="control-label" >Пример на английском</label>
                <input asp-for="EnglishExample" class="form-control" style="background-color:#3b375e; color: #fff;" />
                <span asp-validation-for="EnglishExample" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RussianExample" class="control-label">Перевод</label>
                <input asp-for="RussianExample" class="form-control" style="background-color:#3b375e; color: #fff;" />
                <span asp-validation-for="RussianExample" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-action="Details" asp-controller="Word" asp-route-id="@Model.WordId">Отмена</a>
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


