@*@model EnglishTrainer.ApplicationCore.Models.VerbViewModel*@

@{
    ViewData["Title"] = "Index";
}

<div style="margin-bottom:20px">
    <h1>Здесь вы можете проверить свой уровень знаний!</h1>
    <a asp-action="Index" asp-controller="Verb" style="border-radius:0" class="btn btn-info">На главную страницу</a>
    <button id="createWord" style="border-radius:0" class="btn btn-primary">Следующий</button>
    <button id="checkAnswer" style="border-radius:0" class="btn btn-warning">Проверить</button>
</div>




<div class="container">
        <div class="partialResultVerb">

        </div>
</div>



@section Scripts {
    <script>
       $('#createWord').on('click', function (e) {
                e.preventDefault();
                 $.ajax({
                    url: "/Tests/GetNewVerb",
                    type: "GET",
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    success: function(data){ 
                        //var message = data.Message; 
                        //alert(data);
                        $('.partialResultVerb').html(data);
                        } //<-- added close for anonymous function
                    }); //<--added close/semicolon for ajax function
            });
    </script>

    <script>
        $('#checkAnswer').on('click', function (e) {
            const checkPastSimple = document.getElementById("checkPastSimple").value;
            const checkPastParticiple = document.getElementById("checkPastParticiple").value;

            const answerPastSimple = document.getElementById("answerPastSimple").value;
            const answerPastParticiple = document.getElementById("answerPastParticiple").value;


            const pastSimpleInput = document.getElementById("answerPastSimple");
            const pastParticipleInput = document.getElementById("answerPastParticiple");
            //const p = document.querySelector('.wrong-answer-past-simple').innerHTML;

            //p.textContent = "Wrong!";
            //p.classList.add("text-danger");
            //pastSimpleInput.classList.add("is-invalid");


            if(checkPastSimple != answerPastSimple){

                document.querySelector('.wrong-answer-past-simple').innerHTML = 'Неправильно!';
                document.querySelector('.wrong-answer-past-simple').classList.add('text-danger');
                pastSimpleInput.style.outline = '2px solid red';

            }
            else{
                document.querySelector('.wrong-answer-past-simple').innerHTML = 'Правильно!';

                document.querySelector('.wrong-answer-past-simple').classList.add('text-success');

                pastSimpleInput.style.outline = '2px solid green';
            }

            if (checkPastParticiple != answerPastParticiple){
                document.querySelector('.wrong-answer-past-participle').innerHTML = 'Неправильно!';
                document.querySelector('.wrong-answer-past-participle').classList.add('text-danger');
                pastParticipleInput.style.outline = '2px solid red';
            }
            else{
                document.querySelector('.wrong-answer-past-participle').innerHTML = 'Правильно!';
                document.querySelector('.wrong-answer-past-participle').classList.add('text-success');
                pastParticipleInput.style.outline = '2px solid green';
            }

        });

    </script>
}

  