@using EnglishTrainer.ApplicationCore.Entities;
@model EnglishTrainer.ApplicationCore.Models.WordViewModel

<div class="container">
    <form asp-action="Create" >
        <div class="create-word-menu_header">
            <h1 style="margin:auto">Новое слово</h1>
        </div>

        <div>
            <div class="create-word-menu-top-translation-label-block">
                <label class="create-word-menu_top_translation_label_block_text">Слово:</label>
            </div>
            <div class="create-word-menu-top-translation-label-block">
                <input asp-for="Name" class="english-trainer-common-input" style="color:yellow" />
            </div>
        </div>

        <div>
            <div class="create-word-menu-top-translation-label-block">
                <label style="font-size:22px">Варианты перевода:</label>
            </div>
            <div class="create-word-menu_top_translation_label_block">
                <input asp-for="TranslateVariants" class="english-trainer-common-input" style="color:yellow" />
            </div>
        </div>

        <div class="form-floating">
            <textarea class="form-control-color  create-word-menu_top_translation_description_block_textarea_field" style="color:yellow" asp-for="Description" placeholder="Определение" id="floatingTextarea"></textarea>
        </div>

        <div class="buttons_block">
            <button class="buttons_block_cancel" asp-action="Index" asp-controller="Word">Назад к словарю</button>
            <input type="submit" class="buttons_block_submit" value="Добавить" />
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



